.productPage .quantity{
    display: none;
}

.single-item_block a{
    position: relative;
}

.popup-wrapper {
    position: absolute;
    top: 50%;
    /*right: 0;*/
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

#yith-wacp-popup .yith-wacp-message{
    display: none;
}

.added_to_cart.wc-forward{
    display: none;
}

.screen-reader-text{
    display: none;
}

.woocommerce-message{
    display: none;
}

.shipping-options{
    display: none;
}

.cartPage-wrapper .actions{
    display: none;
}

.popularWallets__carousel .product-item .quantity{
    display: none;
}

.productPage__info-button .stock{
    display: none;
}

#billing_country_field{
    display: none;
}

.wc_payment_methods.payment_methods.methods{
    display: none;
}

.product-item .info > div .stock{
    display: none;
}

.woocommerce ul.products::after, .woocommerce ul.products::before, .woocommerce-page ul.products::after, .woocommerce-page ul.products::before{
    display: none;
}
/*body {*/
/*font-family: 'Roboto', sans-serif;*/
/*}*/

.single_add_to_cart_button.button.loading{
    opacity: .8;
    transition: opacity .3s ease;
}

.product-item.loading{
    transition: opacity .3s ease;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('assets/img/loader.gif');
    background-size: 100px;
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-flag+span{
    font-weight: 400;
}