.productPage .quantity{
    display: none;
}

.single-item_block a{
    position: relative;
}

.mainPage .single-item_block a img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.woocommerce-Price-currencySymbol{
    display: none;
}

.price:after{
    content: 'грн';
    display: inline-block;
    margin-left: 3px;
}

.popup-wrapper {
    position: absolute;
    top: 50%;
    /*right: 0;*/
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

#yith-wacp-popup .yith-wacp-message{
    display: none;
}

.added_to_cart.wc-forward{
    display: none;
}

.popup-wrapper .popup-header h2{
    max-width: 255px;
}

.screen-reader-text{
    display: none;
}

.woocommerce-message{
    display: none;
}

.shipping-options{
    display: none;
}

.cartPage-wrapper .actions{
    display: none;
}

.cartPage-item .info .name a{
    font-size: 15px;
    font-weight: 300;
    color: #545b6c;
    text-decoration: none;
}

/*#billing_country_field{*/
    /*display: none;*/
/*}*/

.popularWallets__carousel .product-item .quantity{
    display: none;
}